In [152]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .appName("pyspark_Obl_NBA_modeled") \
    .getOrCreate()

## CARGA DE LOS DATAFRAMES EN FORMATO PARQUET

In [153]:
df_game_pqt = spark.read.parquet("/data_obligatorio_NBA/rfn/game_pqt")
df_game_sum_pqt = spark.read.parquet("/data_obligatorio_NBA/rfn/game_sum_pqt")
df_com_play_info_pqt = spark.read.parquet("/data_obligatorio_NBA/rfn/com_play_info_pqt")
df_play_pts_pqt = spark.read.parquet("/data_obligatorio_NBA/rfn/play_pts_pqt")
df_player_pqt = spark.read.parquet("/data_obligatorio_NBA/rfn/player_pqt")
df_team_pqt = spark.read.parquet("/data_obligatorio_NBA/rfn/team_pqt")

## VISUALIZACION INICIAL DE LOS REGISTROS

In [154]:
df_game_pqt.show(10)

+------------+--------+-------+--------+------------+-------+--------+
|team_id_home| game_id|wl_home|pts_home|team_id_away|wl_away|pts_away|
+------------+--------+-------+--------+------------+-------+--------+
|  1610610026|24600156|      L|      74|  1610610032|      W|      78|
|  1610612738|24600187|      L|      57|  1610610036|      W|      80|
|  1610612747|24800213|      W|      89|  1610612744|      L|      71|
|  1610612765|24800254|      W|      89|  1610612744|      L|      87|
|  1610610029|24800326|      L|      80|  1610610034|      W|      81|
|  1610610025|44800212|      L|      85|  1610612747|      W|     101|
|  1610610036|25000004|      W|     100|  1610610030|      L|      84|
|  1610612755|25000213|      L|      86|  1610612744|      W|      96|
|  1610612738|25000260|      W|      85|  1610612737|      L|      70|
|  1610610024|25000270|      L|      72|  1610612755|      W|      80|
+------------+--------+-------+--------+------------+-------+--------+
only showing top 10 rows

In [155]:
df_game_sum_pqt.show(10)

+--------+------------+---------------+------+
| game_id|home_team_id|visitor_team_id|season|
+--------+------------+---------------+------+
|24600033|  1610610031|     1610610035|  1946|
|24600302|  1610612738|     1610610026|  1946|
|44600212|  1610612752|     1610612744|  1946|
|24800250|  1610612747|     1610612758|  1948|
|24800253|  1610610029|     1610612744|  1948|
|24900180|  1610610024|     1610612747|  1949|
|25000079|  1610612737|     1610610024|  1950|
|25100011|  1610612758|     1610612747|  1951|
|25100142|  1610612752|     1610612738|  1951|
|25100151|  1610612744|     1610610024|  1951|
+--------+------------+---------------+------+
only showing top 10 rows

In [156]:
df_com_play_info_pqt.show(10)

+---------+----------+---------+-------------------+------------------+-------+------+--------------+------------+--------------------------------+----------+-------------+-----------+---------+-------+
|person_id|first_name|last_name|          birthdate|            school|country|jersey|      position|rosterstatus|games_played_current_season_flag|   team_id|    team_name|  team_city|from_year|to_year|
+---------+----------+---------+-------------------+------------------+-------+------+--------------+------------+--------------------------------+----------+-------------+-----------+---------+-------+
|   201587|   Nicolas|    Batum|1988-12-14 00:00:00|           Le Mans| France|    33| Guard-Forward|      Active|                               N|1610612746|     Clippers|         LA|     2008|   2023|
|  1628418|    Thomas|   Bryant|1997-07-31 00:00:00|           Indiana|    USA|    13|Center-Forward|      Active|                               N|1610612748|         Heat|      Miami|     2017|   2023|
|    76590|      Leon|  Douglas|1954-08-26 00:00:00|           Alabama|    USA|    13|        Center|    Inactive|                               N|1610612765|      Pistons|    Detroit|     1976|   1982|
|  1629164|   Brandon|  Goodwin|1995-10-02 00:00:00|Florida Gulf Coast|    USA|    00|         Guard|    Inactive|                               N|1610612739|    Cavaliers|  Cleveland|     2018|   2021|
|     2580|    Travis|   Hansen|1978-04-15 00:00:00|     Brigham Young|    USA|     6| Guard-Forward|    Inactive|                               N|1610612737|        Hawks|    Atlanta|     2003|   2003|
|  1626209|     Mario|  Hezonja|1995-02-25 00:00:00|      FC Barcelona|Croatia|    44| Forward-Guard|    Inactive|                               N|1610612753|        Magic|    Orlando|     2015|   2019|
|    77194|     Robin|    Jones|1954-02-02 00:00:00|         St. Louis|    USA|    34|        Center|    Inactive|                               N|1610612757|Trail Blazers|   Portland|     1976|   1977|
|    77292|      Dick| Knostman|1931-08-09 00:00:00|      Kansas State|    USA|    10|        Center|    Inactive|                               N|1610612755|    Nationals|   Syracuse|     1953|   1953|
|    77486|    Marlon|    Maxey|1969-02-19 00:00:00|     Texas-El Paso|    USA|    25|       Forward|    Inactive|                               N|1610612750| Timberwolves|  Minnesota|     1992|   1993|
|    77615|      Mike| Mitchell|1956-01-01 00:00:00|            Auburn|    USA|    34|       Forward|    Inactive|                               N|1610612759|        Spurs|San Antonio|     1978|   1987|
+---------+----------+---------+-------------------+------------------+-------+------+--------------+------------+--------------------------------+----------+-------------+-----------+---------+-------+
only showing top 10 rows

In [157]:
df_play_pts_pqt.show(10)

+--------+--------+------+------------+--------------------+--------------------+---------+-----------+----------+--------------------+---------------+
| game_id|eventnum|period|wctimestring|     homedescription|  visitordescription|    score|scoremargin|player1_id|        player1_name|player1_team_id|
+--------+--------+------+------------+--------------------+--------------------+---------+-----------+----------+--------------------+---------------+
|20200222|       8|     1|   Undefined|World Peace Free ...|           Undefined|    0 - 1|          1|      1897|   Metta World Peace|     1610612754|
|20000814|     156|     2|  -10:0-14 A|Manning  Layup (4...|           Undefined|  31 - 31|        TIE|       330|       Danny Manning|     1610612762|
|20400395|     471|     4|    10:00 PM|Laettner Free Thr...|           Undefined|100 - 107|          7|       363|  Christian Laettner|     1610612748|
|20200134|     420|     4|    10:00 PM|Garnett  Layup (2...|           Undefined|  85 - 79|         -6|       708|       Kevin Garnett|     1610612750|
|20100021|     275|     3|    10:00 PM|           Undefined|McInnis 20' Jump ...|  53 - 49|         -4|       976|        Jeff McInnis|     1610612746|
|20101188|      76|     1|    10:00 PM|           Undefined|Funderburke  Reve...|  12 - 20|          8|      1444|Lawrence Funderburke|     1610612758|
|20500558|     221|     3|    10:00 PM|Duncan Free Throw...|           Undefined|  40 - 42|          2|      1495|          Tim Duncan|     1610612759|
|20100856|     386|     4|    10:00 PM|           Undefined|Hudson Free Throw...|  75 - 87|         12|      1607|         Troy Hudson|     1610612753|
|20501030|     187|     2|    10:00 PM|           Undefined|Miller 13' Jump S...|  31 - 42|         11|      1889|        Andre Miller|     1610612743|
|20401199|     415|     4|    10:00 PM|Crawford 24' 3PT ...|           Undefined|101 - 104|          3|      2037|      Jamal Crawford|     1610612752|
+--------+--------+------+------------+--------------------+--------------------+---------+-----------+----------+--------------------+---------------+
only showing top 10 rows

In [158]:
df_player_pqt.show(10)

+-------+----------------+----------+---------+---------+
|     id|       full_name|first_name|last_name|is_active|
+-------+----------------+----------+---------+---------+
|1630175|    Cole Anthony|      Cole|  Anthony|        1|
|  76054|  Nate Archibald|      Nate|Archibald|        0|
|1629633|  Jarrett Culver|   Jarrett|   Culver|        1|
|   2223|Samuel Dalembert|    Samuel|Dalembert|        0|
| 201942|   DeMar DeRozan|     DeMar|  DeRozan|        1|
|  76599|      Larry Drew|     Larry|     Drew|        0|
|1627770|      Kay Felder|       Kay|   Felder|        0|
| 101155|      Ryan Gomes|      Ryan|    Gomes|        0|
|  77112|  Winfred Jacobs|   Winfred|   Jacobs|        0|
|  77129|      Les Jepsen|       Les|   Jepsen|        0|
+-------+----------------+----------+---------+---------+
only showing top 10 rows

In [159]:
df_team_pqt.show(10)

+----------+--------------------+--------------+------------+
|        id|           full_name|         state|year_founded|
+----------+--------------------+--------------+------------+
|1610612741|       Chicago Bulls|      Illinois|        1966|
|1610612752|     New York Knicks|      New York|        1946|
|1610612751|       Brooklyn Nets|      New York|        1976|
|1610612738|      Boston Celtics| Massachusetts|        1946|
|1610612762|           Utah Jazz|          Utah|        1974|
|1610612750|Minnesota Timberw...|     Minnesota|        1989|
|1610612766|   Charlotte Hornets|North Carolina|        1988|
|1610612748|          Miami Heat|       Florida|        1988|
|1610612758|    Sacramento Kings|    California|        1948|
|1610612757|Portland Trail Bl...|        Oregon|        1970|
+----------+--------------------+--------------+------------+
only showing top 10 rows

## MANIPULACION DE LOS DATOS

In [160]:
split_col = split(col("jersey"), "-")

df_com_play_info_pqt = df_com_play_info_pqt.withColumn(
    "jersey1",
    when(split_col.getItem(0).isNotNull(), split_col.getItem(0).cast("string"))
)

df_com_play_info_pqt = df_com_play_info_pqt.withColumn(
    "jersey2",
    when(split_col.getItem(1).isNotNull(), split_col.getItem(1).cast("string"))
    .otherwise("Undefined")
)

In [161]:
df_com_play_info_pqt.select("person_id", "jersey", "jersey1", "jersey2").show(80)

+---------+---------+---------+---------+
|person_id|   jersey|  jersey1|  jersey2|
+---------+---------+---------+---------+
|   201587|       33|       33|Undefined|
|  1628418|       13|       13|Undefined|
|    76590|       13|       13|Undefined|
|  1629164|       00|       00|Undefined|
|     2580|        6|        6|Undefined|
|  1626209|       44|       44|Undefined|
|    77194|       34|       34|Undefined|
|    77292|       10|       10|Undefined|
|    77486|       25|       25|Undefined|
|    77615|       34|       34|Undefined|
|    77913|       13|       13|Undefined|
|  1630559|       15|       15|Undefined|
|      375|Undefined|Undefined|Undefined|
|     1489|       22|       22|Undefined|
|    78382|Undefined|Undefined|Undefined|
|    78528|       11|       11|Undefined|
|    78605|       20|       20|Undefined|
|    78633|       20|       20|Undefined|
|   201165|       21|       21|Undefined|
|  1630547|        2|        2|Undefined|
|    76468|       24|       24|Undefined|
|    76697|       17|       17|Undefined|
|    77212|        6|        6|Undefined|
|   203508|       10|       10|Undefined|
|    77503|Undefined|Undefined|Undefined|
|  1630787|Undefined|Undefined|Undefined|
|    77639|       15|       15|Undefined|
|    77793|       16|       16|Undefined|
|    77890|       23|       23|Undefined|
|  1631101|       17|       17|Undefined|
|     2561|        3|        3|Undefined|
|    78526|       12|       12|Undefined|
|     2254|       33|       33|Undefined|
|  1628386|       31|       31|Undefined|
|       21|       50|       50|Undefined|
|    76295|       12|       12|Undefined|
|   201569|       10|       10|Undefined|
|    77040|       14|       14|Undefined|
|  1629672|        0|        0|Undefined|
|   202353|       21|       21|Undefined|
|    77921|       20|       20|Undefined|
|      147|        8|        8|Undefined|
|      179|       23|       23|Undefined|
|      952|       24|       24|Undefined|
|    78456|       15|       15|Undefined|
|     1755|Undefined|Undefined|Undefined|
|      112|Undefined|Undefined|Undefined|
|   101219|       16|       16|Undefined|
|      446|Undefined|Undefined|Undefined|
|   203962|       34|       34|Undefined|
|  1630222|       40|       40|Undefined|
|  1631117|       24|       24|Undefined|
|     1732|       13|       13|Undefined|
|  1628399|       20|       20|Undefined|
|   202703|       41|       41|Undefined|
|    77634|     4-14|        4|       14|
|      132|       50|       50|Undefined|
|     1680|Undefined|Undefined|Undefined|
|   202385|Undefined|Undefined|Undefined|
|      720|Undefined|Undefined|Undefined|
|    78012|        4|        4|Undefined|
|    78431|       15|       15|Undefined|
|      767|       33|       33|Undefined|
|   201142|       35|       35|Undefined|
|     2601|Undefined|Undefined|Undefined|
|   201572|       11|       11|Undefined|
|    77411|       22|       22|Undefined|
|  1630253|       30|       30|Undefined|
|      168|       34|       34|Undefined|
|      371|Undefined|Undefined|Undefined|
|      735|       50|       50|Undefined|
|      393|Undefined|Undefined|Undefined|
|    78296|       14|       14|Undefined|
|    78368|Undefined|Undefined|Undefined|
|    78402|       11|       11|Undefined|
|    78426|       10|       10|Undefined|
|    78516|        6|        6|Undefined|
|   201146|        9|        9|Undefined|
|  1628384|        3|        3|Undefined|
|  1630217|       22|       22|Undefined|
+---------+---------+---------+---------+
only showing top 80 rows

In [162]:
df_game_pqt = df_game_pqt.join(
    df_game_sum_pqt.select("game_id", "season"),
    on="game_id",
    how="left"
)

In [163]:
df_game_pqt = df_game_pqt.fillna({"season": -1})

In [164]:
df_game_pqt.select("season").filter(
    df_game_pqt["season"].isNull()).count()

0

In [165]:
df_play_pts_pqt = df_play_pts_pqt.withColumn("score_visitor", split(col("score"), " - ")[0].cast("int")) \
       .withColumn("score_home", split(col("score"), " - ")[1].cast("int"))

df_play_pts_pqt.select("score_home", "score_visitor", "score").show(10)

+----------+-------------+---------+
|score_home|score_visitor|    score|
+----------+-------------+---------+
|         1|            0|    0 - 1|
|        31|           31|  31 - 31|
|       107|          100|100 - 107|
|        79|           85|  85 - 79|
|        49|           53|  53 - 49|
|        20|           12|  12 - 20|
|        42|           40|  40 - 42|
|        87|           75|  75 - 87|
|        42|           31|  31 - 42|
|       104|          101|101 - 104|
+----------+-------------+---------+
only showing top 10 rows

In [166]:
df_play_pts_pqt = df_play_pts_pqt.withColumn(
    "description",
    when(col("homedescription") != "Undefined", col("homedescription"))
    .when(col("visitordescription") != "Undefined", col("visitordescription"))
)

In [167]:
df_play_pts_pqt = df_play_pts_pqt.withColumn("team_type",
    when(col("homedescription") != "Undefined", "home")
    .when(col("visitordescription") != "Undefined", "visitor")
)

In [168]:
df_play_pts_pqt = df_play_pts_pqt.withColumn("description_lower", lower(col("description")))

df_play_pts_pqt = df_play_pts_pqt.withColumn("play_pts", 
    when(col("description_lower").contains("3pt"), 3)
    .when(col("description_lower").rlike("1 of 2"), 1)
    .when(col("description_lower").rlike("2 of 2"), 1)
    .when(col("description_lower").rlike("free throw"), 1)
    .when(col("description_lower").rlike("dunk"), 2)
    .when(col("description_lower").rlike("layup"), 2)
    .when(col("description_lower").rlike("fadeaway"), 2)
    .when(col("description_lower").rlike("hook"), 2)
    .when(col("description_lower").rlike("jump(\\s+\\w+)*\\s+shot"), 2)
    .when(col("description_lower").rlike("finger roll"), 2)
    .when(col("description_lower").rlike("tip shot"), 2)
    .when(col("description_lower").rlike("bank"), 2)
    .when(col("description_lower").rlike("no shot"), 2)
    .when(col("description_lower").rlike("shot"), 2)
    .otherwise(1)
)

In [169]:
df_play_pts_pqt.select("description", "play_pts").filter(
    df_play_pts_pqt["play_pts"].isNull()).count()

0

In [170]:
df_game_pqt = df_game_pqt.withColumn("pts_away",
    when(col("game_id") == 11300032, 89)
    .when(col("game_id") == 11300033, 80)
    .when(col("game_id") == 11300034, 98)
    .when(col("game_id") == 12000009, 107)
    .when(col("game_id") == 20300778, 101)
    .when(col("game_id") == 29600070, 86)
    .when(col("game_id") == 29600332, 81)
    .when(col("game_id") == 29600370, 76)
    .otherwise(col("pts_away"))
)

df_game_pqt = df_game_pqt.withColumn("pts_home",
    when(col("game_id") == 11300032, 90)
    .when(col("game_id") == 11300033, 86)
    .when(col("game_id") == 11300034, 96)
    .when(col("game_id") == 12000009, 102)
    .when(col("game_id") == 20300778, 120)
    .when(col("game_id") == 29600070, 101)
    .when(col("game_id") == 29600332, 123)
    .when(col("game_id") == 29600370, 91)
    .otherwise(col("pts_home"))
)

In [171]:
home_pts_df = df_play_pts_pqt.filter(col("team_type") == "home") \
    .groupBy("game_id") \
    .agg(sum("play_pts").alias("home_pts"))

visitor_pts_df = df_play_pts_pqt.filter(col("team_type") == "visitor") \
    .groupBy("game_id") \
    .agg(sum("play_pts").alias("visitor_pts"))

df_result = home_pts_df.join(visitor_pts_df, on="game_id", how="outer")

df_result = df_game_pqt \
    .join(home_pts_df, on="game_id", how="left") \
    .join(visitor_pts_df, on="game_id", how="left") \
    .filter( (col("home_pts") != col("pts_home")) | (col("visitor_pts") != col("pts_away")) ) \
    .select("game_id", "home_pts", "visitor_pts", "pts_home", "pts_away")


df_result.show(truncate=False)
df_result.count()

+-------+--------+-----------+--------+--------+
|game_id|home_pts|visitor_pts|pts_home|pts_away|
+-------+--------+-----------+--------+--------+
+-------+--------+-----------+--------+--------+

0

In [172]:
df_player_pqt = df_player_pqt.withColumn("status",
    when(col("is_active") == 1, "Active")
    .when(col("is_active") == 0, "Inactive")
)

## ELIMINACION Y RENOMBRE DE COLUMNAS

In [174]:
df_com_play_info_pqt = df_com_play_info_pqt.withColumnRenamed("id", "player_id")
df_com_play_info_pqt = df_com_play_info_pqt.drop("first_name")
df_com_play_info_pqt = df_com_play_info_pqt.drop("last_name")
df_com_play_info_pqt = df_com_play_info_pqt.drop("birthdate")
df_com_play_info_pqt = df_com_play_info_pqt.drop("country")
df_com_play_info_pqt = df_com_play_info_pqt.drop("rosterstatus")
df_com_play_info_pqt = df_com_play_info_pqt.drop("games_played_current_season_flag")
df_com_play_info_pqt = df_com_play_info_pqt.drop("team_name")
df_com_play_info_pqt = df_com_play_info_pqt.drop("team_city")
df_com_play_info_pqt = df_com_play_info_pqt.drop("jersey")
df_com_play_info_pqt = df_com_play_info_pqt.drop("from_year")
df_com_play_info_pqt = df_com_play_info_pqt.drop("to_year")

In [173]:
df_game_pqt = df_game_pqt.drop("wl_home")
df_game_pqt = df_game_pqt.drop("wl_away")

In [175]:
df_play_pts_pqt = df_play_pts_pqt.drop("period")
df_play_pts_pqt = df_play_pts_pqt.drop("wctimestring")
df_play_pts_pqt = df_play_pts_pqt.drop("homedescription")
df_play_pts_pqt = df_play_pts_pqt.drop("visitordescription")
df_play_pts_pqt = df_play_pts_pqt.drop("score")
df_play_pts_pqt = df_play_pts_pqt.drop("scoremargin")
df_play_pts_pqt = df_play_pts_pqt.drop("player1_name")
df_play_pts_pqt = df_play_pts_pqt.drop("description")
df_play_pts_pqt = df_play_pts_pqt.drop("description_lower")
df_play_pts_pqt = df_play_pts_pqt.withColumnRenamed("player1_id", "player_id")
df_play_pts_pqt = df_play_pts_pqt.withColumnRenamed("player1_team_id", "team_id")

In [176]:
df_player_pqt = df_player_pqt.withColumnRenamed("id", "player_id")
df_player_pqt = df_player_pqt.drop("first_name")
df_player_pqt = df_player_pqt.drop("last_name")
df_player_pqt = df_player_pqt.drop("is_active")

In [177]:
df_team_pqt = df_team_pqt.withColumnRenamed("id", "team_id")

## VISUALIZACION FINAL

In [178]:
df_game_pqt.show(10)

+--------+------------+--------+------------+--------+------+
| game_id|team_id_home|pts_home|team_id_away|pts_away|season|
+--------+------------+--------+------------+--------+------+
|24600156|  1610610026|      74|  1610610032|      78|  1946|
|24600187|  1610612738|      57|  1610610036|      80|    -1|
|24800213|  1610612747|      89|  1610612744|      71|  1948|
|24800254|  1610612765|      89|  1610612744|      87|  1948|
|24800326|  1610610029|      80|  1610610034|      81|  1948|
|44800212|  1610610025|      85|  1610612747|     101|  1948|
|25000004|  1610610036|     100|  1610610030|      84|  1950|
|25000213|  1610612755|      86|  1610612744|      96|  1950|
|25000260|  1610612738|      85|  1610612737|      70|  1950|
|25000270|  1610610024|      72|  1610612755|      80|  1950|
+--------+------------+--------+------------+--------+------+
only showing top 10 rows

In [179]:
df_game_sum_pqt.show(10)

+--------+------------+---------------+------+
| game_id|home_team_id|visitor_team_id|season|
+--------+------------+---------------+------+
|24600033|  1610610031|     1610610035|  1946|
|24600302|  1610612738|     1610610026|  1946|
|44600212|  1610612752|     1610612744|  1946|
|24800250|  1610612747|     1610612758|  1948|
|24800253|  1610610029|     1610612744|  1948|
|24900180|  1610610024|     1610612747|  1949|
|25000079|  1610612737|     1610610024|  1950|
|25100011|  1610612758|     1610612747|  1951|
|25100142|  1610612752|     1610612738|  1951|
|25100151|  1610612744|     1610610024|  1951|
+--------+------------+---------------+------+
only showing top 10 rows

In [180]:
df_play_pts_pqt.show(10)

+--------+--------+---------+----------+-------------+----------+---------+--------+
| game_id|eventnum|player_id|   team_id|score_visitor|score_home|team_type|play_pts|
+--------+--------+---------+----------+-------------+----------+---------+--------+
|20200222|       8|     1897|1610612754|            0|         1|     home|       1|
|20000814|     156|      330|1610612762|           31|        31|     home|       2|
|20400395|     471|      363|1610612748|          100|       107|     home|       1|
|20200134|     420|      708|1610612750|           85|        79|     home|       2|
|20100021|     275|      976|1610612746|           53|        49|  visitor|       2|
|20101188|      76|     1444|1610612758|           12|        20|  visitor|       2|
|20500558|     221|     1495|1610612759|           40|        42|     home|       1|
|20100856|     386|     1607|1610612753|           75|        87|  visitor|       1|
|20501030|     187|     1889|1610612743|           31|        42|  visitor|       2|
|20401199|     415|     2037|1610612752|          101|       104|     home|       3|
+--------+--------+---------+----------+-------------+----------+---------+--------+
only showing top 10 rows

In [181]:
df_player_pqt.show(10)

+---------+----------------+--------+
|player_id|       full_name|  status|
+---------+----------------+--------+
|  1630175|    Cole Anthony|  Active|
|    76054|  Nate Archibald|Inactive|
|  1629633|  Jarrett Culver|  Active|
|     2223|Samuel Dalembert|Inactive|
|   201942|   DeMar DeRozan|  Active|
|    76599|      Larry Drew|Inactive|
|  1627770|      Kay Felder|Inactive|
|   101155|      Ryan Gomes|Inactive|
|    77112|  Winfred Jacobs|Inactive|
|    77129|      Les Jepsen|Inactive|
+---------+----------------+--------+
only showing top 10 rows

In [182]:
df_player_pqt.show(10)

+---------+----------------+--------+
|player_id|       full_name|  status|
+---------+----------------+--------+
|  1630175|    Cole Anthony|  Active|
|    76054|  Nate Archibald|Inactive|
|  1629633|  Jarrett Culver|  Active|
|     2223|Samuel Dalembert|Inactive|
|   201942|   DeMar DeRozan|  Active|
|    76599|      Larry Drew|Inactive|
|  1627770|      Kay Felder|Inactive|
|   101155|      Ryan Gomes|Inactive|
|    77112|  Winfred Jacobs|Inactive|
|    77129|      Les Jepsen|Inactive|
+---------+----------------+--------+
only showing top 10 rows

In [183]:
df_team_pqt.show(10)

+----------+--------------------+--------------+------------+
|   team_id|           full_name|         state|year_founded|
+----------+--------------------+--------------+------------+
|1610612741|       Chicago Bulls|      Illinois|        1966|
|1610612752|     New York Knicks|      New York|        1946|
|1610612751|       Brooklyn Nets|      New York|        1976|
|1610612738|      Boston Celtics| Massachusetts|        1946|
|1610612762|           Utah Jazz|          Utah|        1974|
|1610612750|Minnesota Timberw...|     Minnesota|        1989|
|1610612766|   Charlotte Hornets|North Carolina|        1988|
|1610612748|          Miami Heat|       Florida|        1988|
|1610612758|    Sacramento Kings|    California|        1948|
|1610612757|Portland Trail Bl...|        Oregon|        1970|
+----------+--------------------+--------------+------------+
only showing top 10 rows

## CARGA DE LOS MODELOS FINALES

In [184]:
df_game_pqt.write \
  .mode("overwrite") \
  .parquet("/data_obligatorio_NBA/mld/game_pqt")

df_com_play_info_pqt.write \
  .mode("overwrite") \
  .parquet("/data_obligatorio_NBA/mld/com_play_info_pqt")

df_play_pts_pqt.write \
  .mode("overwrite") \
  .parquet("/data_obligatorio_NBA/mld/play_pts_pqt")

df_player_pqt.write \
  .mode("overwrite") \
  .parquet("/data_obligatorio_NBA/mld/player_pqt")

df_team_pqt.write \
  .mode("overwrite") \
  .parquet("/data_obligatorio_NBA/mld/team_pqt")

## VERIFICACION DE LA CARGA

In [185]:
df_parquet = spark.read.parquet("/data_obligatorio_NBA/mld/game_pqt")
df_parquet.show(10)

+--------+------------+--------+------------+--------+------+
| game_id|team_id_home|pts_home|team_id_away|pts_away|season|
+--------+------------+--------+------------+--------+------+
|24600156|  1610610026|      74|  1610610032|      78|  1946|
|24600187|  1610612738|      57|  1610610036|      80|    -1|
|24800213|  1610612747|      89|  1610612744|      71|  1948|
|24800254|  1610612765|      89|  1610612744|      87|  1948|
|24800326|  1610610029|      80|  1610610034|      81|  1948|
|44800212|  1610610025|      85|  1610612747|     101|  1948|
|25000004|  1610610036|     100|  1610610030|      84|  1950|
|25000213|  1610612755|      86|  1610612744|      96|  1950|
|25000260|  1610612738|      85|  1610612737|      70|  1950|
|25000270|  1610610024|      72|  1610612755|      80|  1950|
+--------+------------+--------+------------+--------+------+
only showing top 10 rows

In [186]:
df_parquet = spark.read.parquet("/data_obligatorio_NBA/mld/com_play_info_pqt")
df_parquet.show(10)

+---------+------------------+--------------+----------+-------+---------+
|person_id|            school|      position|   team_id|jersey1|  jersey2|
+---------+------------------+--------------+----------+-------+---------+
|   201587|           Le Mans| Guard-Forward|1610612746|     33|Undefined|
|  1628418|           Indiana|Center-Forward|1610612748|     13|Undefined|
|    76590|           Alabama|        Center|1610612765|     13|Undefined|
|  1629164|Florida Gulf Coast|         Guard|1610612739|     00|Undefined|
|     2580|     Brigham Young| Guard-Forward|1610612737|      6|Undefined|
|  1626209|      FC Barcelona| Forward-Guard|1610612753|     44|Undefined|
|    77194|         St. Louis|        Center|1610612757|     34|Undefined|
|    77292|      Kansas State|        Center|1610612755|     10|Undefined|
|    77486|     Texas-El Paso|       Forward|1610612750|     25|Undefined|
|    77615|            Auburn|       Forward|1610612759|     34|Undefined|
+---------+------------------+--------------+----------+-------+---------+
only showing top 10 rows

In [187]:
df_parquet = spark.read.parquet("/data_obligatorio_NBA/mld/play_pts_pqt")
df_parquet.show(10)

+--------+--------+---------+----------+-------------+----------+---------+--------+
| game_id|eventnum|player_id|   team_id|score_visitor|score_home|team_type|play_pts|
+--------+--------+---------+----------+-------------+----------+---------+--------+
|20200222|       8|     1897|1610612754|            0|         1|     home|       1|
|20000814|     156|      330|1610612762|           31|        31|     home|       2|
|20400395|     471|      363|1610612748|          100|       107|     home|       1|
|20200134|     420|      708|1610612750|           85|        79|     home|       2|
|20100021|     275|      976|1610612746|           53|        49|  visitor|       2|
|20101188|      76|     1444|1610612758|           12|        20|  visitor|       2|
|20500558|     221|     1495|1610612759|           40|        42|     home|       1|
|20100856|     386|     1607|1610612753|           75|        87|  visitor|       1|
|20501030|     187|     1889|1610612743|           31|        42|  visitor|       2|
|20401199|     415|     2037|1610612752|          101|       104|     home|       3|
+--------+--------+---------+----------+-------------+----------+---------+--------+
only showing top 10 rows

In [188]:
df_parquet = spark.read.parquet("/data_obligatorio_NBA/mld/player_pqt")
df_parquet.show(10)

+---------+----------------+--------+
|player_id|       full_name|  status|
+---------+----------------+--------+
|  1630175|    Cole Anthony|  Active|
|    76054|  Nate Archibald|Inactive|
|  1629633|  Jarrett Culver|  Active|
|     2223|Samuel Dalembert|Inactive|
|   201942|   DeMar DeRozan|  Active|
|    76599|      Larry Drew|Inactive|
|  1627770|      Kay Felder|Inactive|
|   101155|      Ryan Gomes|Inactive|
|    77112|  Winfred Jacobs|Inactive|
|    77129|      Les Jepsen|Inactive|
+---------+----------------+--------+
only showing top 10 rows

In [189]:
df_parquet = spark.read.parquet("/data_obligatorio_NBA/mld/team_pqt")
df_parquet.show(10)

+----------+--------------------+--------------+------------+
|   team_id|           full_name|         state|year_founded|
+----------+--------------------+--------------+------------+
|1610612741|       Chicago Bulls|      Illinois|        1966|
|1610612752|     New York Knicks|      New York|        1946|
|1610612751|       Brooklyn Nets|      New York|        1976|
|1610612738|      Boston Celtics| Massachusetts|        1946|
|1610612762|           Utah Jazz|          Utah|        1974|
|1610612750|Minnesota Timberw...|     Minnesota|        1989|
|1610612766|   Charlotte Hornets|North Carolina|        1988|
|1610612748|          Miami Heat|       Florida|        1988|
|1610612758|    Sacramento Kings|    California|        1948|
|1610612757|Portland Trail Bl...|        Oregon|        1970|
+----------+--------------------+--------------+------------+
only showing top 10 rows